/* Brand Colors:
 * -------------
 * Dark Gray (Primary): #222222
 * Light Gray (Secondary): #F5F5F5
 * Vibrant Yellow (Accent): #ffcd29
 */

/********** Global Styles **********/
/* Resetting default browser styles */

*,
*::before,
*::after {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

html {
  font-size: 62.5%; /* Set base font size (1rem) to 10px */
  scroll-behavior: smooth; /* Smooth scrolling behavior */
  scroll-padding-top: 75px; /* Add padding for smooth scrolling */
  height: 100%; /* Set html element height to 100% */
}

body {
  overflow-x: hidden; /* Prevent horizontal scrolling */
  position: relative; /* Needed for absolute positioning elements */
  font-family: Roboto, Arial, sans-serif; /* Default font: Roboto is a popular choice for modern web interfaces */
  font-size: 1.6em; /* Set default font size to 16px */
  height: 100%; /* Set body height to 100% */
  color: #222222; /* Set default text color */
  background-color: #F5F5F5; /* Set default background color */
}

#root {
  height: 100%; /* Set root element height to 100% */
}

/* Text elements */
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
button,
ul {
  line-height: normal; /* Reset line height */
  text-decoration: none; /* No underlines */
}

a:hover {
  text-decoration: none; /* Remove underline on hover */
}

/* Images */
img {
  width: 100%; /* Make images responsive */
  height: auto; /* Prevent image distortion */
}

/* Form elements */
button {
  border: 0; /* Remove default button border */
}

input:focus,
textarea:focus,
select:focus {
  outline: none; /* Remove focus outline */
}

/***** For NAVIGATION CSS see src/components/Navbar/NavbarElements *****/

/********** Hero Section **********/

.hero-section {
  background-color: #ffcd29; /* Set hero section background color */
  padding: 8rem 5rem 5rem 5rem; /* Makes white space above and under hero-image equal */
  width: 100%; /* Full width */
}

.hero-content {
  display: flex; /* Flex container for text and image */
  align-items: center; /* Center the text and image vertically */
  gap: 1rem; /* Adjust the gap between the text and image */
  max-width: 2000px; /* Set a maximum width for the content for better readability (the same as movie grid) */
  margin: 0 auto; /* Center the content */
}

.hero-text {
  flex: 1; /* Make the text take up the available space */
}

.hero-text h1 {
  font-size: 2.5em;
  margin-bottom: 1rem;
}

/* Style for the button */
.hero-text a {
  display: block; /* Make the button a block element */
  padding: 1rem;
  width: 15em;
  background-color: #222222;
  color: #F5F5F5;
  font-size: 2rem;
  cursor: pointer;
  text-align: center;
  border-radius: 1rem;
}

.hero-image {
  flex: 1; /* Make the image take up the available space */
}

.hero-image img {
  margin: 0; /* Remove default margin */
  border-radius: 1rem; /* Round the corners of the image */
}

/* Hero section responsive design */
@media (max-width: 768px) {
  .hero-section {
    padding: 5rem 2rem 2rem; /* Adjust padding for smaller screens */
  }

  .hero-content {
    flex-direction: column; /* Stack the text, button, and image on top of each other */
    gap: 2rem; /* Equal gap between text, button, and image */
    max-width: 60rem;
    margin: 0 auto; /* Center the button */
  }
  .hero-text {
    text-align: center; /* Center the text on mobile screen */
  }

  .hero-text a {
    width: 100%; /* Make the button full width to enhance a call for action */
  }
  .hero-image {
    order: -1; /* Move the image above the text and button */
  }
}

/********** Scroll-to-Top Button **********/

.scroll-to-top-button {
  position: fixed; /* Set the button fixed to the viewport */
  bottom: 100px;
  right: 20px;
  padding: 1rem;
  font-size: 2rem;
  z-index: 1000; /* Set z-index to ensure the button is on top of other elements */
  background-color: #ffcd29;
  opacity: 0.5; /* Set the button to be semi-transparent so the content at the bottom of a page can be readable */
  width: 80px;
  height: 80px;
  border-radius: 50%; /* Make the button round */
}

/********** Movie Pages **********/

.pageTitle {
  text-align: center;
  margin: 3rem 0;
  font-weight: 100;
  font-size: 4rem;
}

.movie-grid {
  display: flex;
  flex-wrap: wrap; /* Allow tiles to wrap to the next line */
  gap: 2rem;
  justify-content: center; /* Center tiles within the container */
  max-width: 2000px; /* Set a maximum width for the content for better readability (the same as hero content) */
  margin: 0 auto; /* Center the content */
  padding: 0 2rem;
}

.movie-tile {
  flex: 0 1 30rem; /* Tiles flex basis is 300px */
  display: flex; /* Flex container for image, icons, title, text, and button */
  flex-direction: column; /* Stack elements vertically */
  align-items: center;
  background-color: #F5F5F5;
  box-shadow: 0 4px 8px rgba(34, 34, 34, 0.2);
  border-radius: 1rem;
  padding: 2rem;
  text-align: center; /* Center the text */
}

.movie-tile-img-container {
  width: 100%;
  height: 26rem; /* Set a fixed height for the image container */
  overflow: hidden; /* Hide overflowing image */
  margin: 0 0 2rem 0; /* Add space below the image (equal to the space above) */
}

.movie-tile img {
  border-radius: 2rem; /* Round the corners of the image */
  margin: 0; /* Remove default margin */
}

.movie-tile .iconStyle {
  font-size: 5rem;
  color: #ffcd29;
  margin: 0 10px;
}

.movie-tile h2 {
  font-size: 2rem;
  margin: 2rem 0;
}

.movie-tile p {
  flex-grow: 1; /* Allows the description to fill the space, pushing the button down */
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.movie-tile button {
  background-color: #222222;
  color: white;
  padding: 1rem 2rem;
  margin: 0;
  cursor: pointer;
  width: 100%;
  font-size: 2rem;
  border-radius: 1rem;
}

.movie-tile button:hover {
  /* Change button color on hover */
  background-color: #ffcd29;
  color: #222222;
}

/********** Cafe Page **********/

/* Style for cafe-info container */
.cafe-info {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 2rem;
}

/* Style for headings */
.cafe-info h1,
.cafe-info h2 {
  font-size: 3rem;
  margin: 3rem 0;
  font-weight: 100;
  text-align: center;
}

/* Style for paragraphs */
.cafe-info p {
  font-size: 1.4rem;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 2rem;
}

/* Style for menu image */
.cafe-info img {
  display: block;
  border-radius: 1rem;
  max-width: 500px;
  margin: 0 auto;
}

/* Style for operations info */
.operations-info {
  max-width: 800px; /* Set a maximum width for better readability */
  margin: 3rem auto 3rem; /* Center the content */
  padding: 0 2rem; /* Add padding to the sides */
}

.operations-info h2 {
  font-size: 3rem;
  margin: 6rem 0 3rem 0;
  font-weight: 100;
  text-align: center;
}

.operations-info p {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  text-align: center;
}

/* History section */
.history-section {
  padding: 0 2rem;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.history-section h1 {
  font-size: 3rem;
  margin: 3rem 0;
}

.history-section img {
  max-width: 500px;
}

.history-section p {
  font-size: 1.6rem;
  margin: 3rem 0;
  line-height: 2rem;
}

/* Contact section */

.contact-section {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.contact-section form {
  padding: 2rem;
  text-align: center;

  box-shadow: 0 4px 8px rgba(34, 34, 34, 0.2);
  border-radius: 1rem;
}

.contact-section h2 {
  font-size: 3rem;
  margin: 3rem 0;
}

.contact-section p {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.contact-section .form-group {
  margin-bottom: 2rem;
}

.contact-section label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

.contact-section select,
.contact-section input[type="text"],
.contact-section input[type="email"],
.contact-section input[type="tel"],
.contact-section textarea {
  width: 100%;
  padding: 1rem;
  font-size: 1.4rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
}

.contact-section textarea {
  resize: vertical; /* Allow vertical resizing */
}

.contact-section button[type="submit"] {
  background-color: #222222;
  color: #F5F5F5;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 50%;
  max-width: 200px;
  border-radius: 1rem;
}

.contact-section button[type="submit"]:hover {
  background-color: #ffcd29;
  color: #222222;
}

/* Where to find us section */
.where-to-find-us {
  display: flex;
  justify-content: center;
  padding: 1rem;
  width: 100%;
  max-width: 2000px;
  margin: 6rem auto;
}

.where-to-find-us .map {
  margin-right: 20px;
  max-width: 500px;
}
@media (max-width: 768px) {
  .where-to-find-us .map {
    display: none;
  }
  .where-to-find-us .address-and-contact {
    text-align: center;
  }
}

.where-to-find-us h3 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.where-to-find-us p {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

/***** Contact modal CSS *****/

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(34, 34, 34, 0.6); /* Darker backdrop for better focus */
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.3s; /* Smooth fade-in effect */
  padding: 1rem;
}

.modal .contact-modal-content {
  background-color: #F5F5F5;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(34, 34, 34, 0.6);
  text-align: center;
  width: 90%;
  max-width: 500px;
}

.modal .contact-modal-content p {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.modal .contact-modal-content button {
  padding: 1rem 2rem;
  font-size: 1.6rem; /* Larger font size for better readability */
  border-radius: 1rem;
  background-color: #ffcd29;
  color: #222222;
  cursor: pointer; /* Cursor pointer to indicate clickable */
  transition: background-color 0.2s; /* Smooth background color transition */
}

.modal .contact-modal-content button:hover {
  background-color: #222222; /* Darker shade of blue on hover */
  color: #F5F5F5;
}

/********** Booking Page **********/

.booking-container {
  max-width: 800px;
  width: 90%;
  margin: 3rem auto;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(34, 34, 34, 0.2);
  border-radius: 1rem;
}

.booking-container h1 {
  margin: 3rem 0;
  font-size: 3rem;
  text-align: center;
}

.booking-container label {
  display: block;
  margin: 1rem 0;
}

.booking-container select,
.booking-container input[type="text"] {
  width: 100%;
  padding: 1rem;

  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

.booking-container p {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 3rem;
}

.booking-container h2 {
  text-align: center;
  margin: 3rem 0;
}

.booking-container button {
  display: block;
  width: 100%;
  max-width: 300px;
  margin: 3rem auto;
  padding: 1rem 2rem;
  background-color: #222222;
  color: #F5F5F5;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 2rem;
}

.booking-container button:hover {
  background-color: #ffcd29;
  color: #222222;
}

/* Seating Grid */
.seatGrid {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  gap: 0.5rem;
  margin: 3rem auto;
}

.seatRow {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.seat {
  width: 3rem;
  height: 3rem;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #F5F5F5;
}

.selected {
  background-color: #ffcd29;
  color: #222222;
}

@media (max-width: 768px) {
  .seat {
    width: 2rem;
    height: 2rem;
    font-size: 0.9rem;
  }
}

/***** Booking Modal CSS *****/

/* see .modal style above */

.booking-modal-content {
  background-color: #F5F5F5;
  padding: 2rem;
  border-radius: 1rem;
  width: 90%;
  max-width: 500px;
}

.booking-modal-content h2 {
  font-size: 3rem;
  margin-bottom: 5rem;
  text-align: center;
}

.booking-modal-content p {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.booking-modal-content .booking-modal-info {
  margin: 0 auto 5rem;
  width: 70%;
}

.booking-modal-terms-text {
  font-size: 1.4rem;
  font-style: italic;
  color: rgba(34, 34, 34, 0.6);
  display: block;
  margin: 5rem auto 3rem;
  text-align: center;
  width: 70%;
}

.booking-modal-content button {
  padding: 1rem 2rem;
  font-size: 1.6rem; /* Larger font size for better readability */
  border-radius: 1rem;
  background-color: #ffcd29;
  color: #222222;
  cursor: pointer; /* Cursor pointer to indicate clickable */
  transition: background-color 0.2s; /* Smooth background color transition */
  margin: 0 auto;
  width: 100%;
  max-width: 200px;
  display: block;
}

.modal-content button:hover {
  background-color: #ffcd29;
  color: #222222;
}

@media (max-width: 768px) {
  .booking-modal-content h2 {
    font-size: 2rem;
  }
  .booking-modal-content p {
    font-size: 1rem;
  }
}

/********** Footer **********/
.footer {
  color: #F5F5F5;
  padding: 3rem 0 3rem;
  width: 90%;
  max-width: 2000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10rem auto 0;
}

.left-content {
  flex: 1;
}

.right-content {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}

.contact-button {
  background-color: #ffcd29;
  color: #333333;
  padding: 1rem 2rem;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 2rem;
}

.icon {
  font-size: 2rem;
  margin-left: 1rem;
  color: #ffcd29;
  text-decoration: none;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

#root {
  display: flex;
  flex-direction: column;
}
