* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-section {
  background-color: #ffcd29;
  padding: 50px;
}

.hero-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.hero-text {
  flex: 1;
}

.hero-text h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.hero-text button {
  padding: 10px;
  width: 60%;
  background-color: #000;
  color: #fff;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.hero-image {
  flex: 1;
}

.hero-image img {
  max-width: 100%;
  height: auto;
}

/* Responsive design for mobile devices */
@media (max-width: 768px) {
  .hero-content {
    flex-direction: column;
  }
  .hero-text,
  .hero-image {
    flex: none;
    width: 100%;
  }

  .hero-image {
    display: none;
  }
}

.pageTitle {
  text-align: center;
  margin: 20px 0;
}

.movie-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Adjust the gap between tiles as needed */
  justify-content: center; /* Center tiles within the container */
  padding: 20px; /* Add some padding around the grid */
}

.movie-tile {
  flex: 0 1 300px; /* Tiles flex basis is 300px, change this value as needed */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff; /* Background color for the tiles */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Simple box shadow for styling */
  border-radius: 8px; /* Optional: adds rounded corners to the tiles */
  padding: 20px;
  text-align: center; /* Center the text */
}

.movie-tile img {
  width: 100%; /* Make image fill the container */
  border-radius: 8px 8px 0 0; /* Optional: top rounded corners for the image */
  margin-bottom: 20px;
}

.movie-tile h2 {
  margin: 10px 0;
}

.movie-tile p {
  flex-grow: 1; /* Allows the description to fill the space, pushing the button down */
}

.movie-tile button {
  background-color: #007bff; /* Example button color */
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 4px;
}

.movie-tile button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

.movie-tile .iconStyle {
  font-size: 3rem;
  color: #ffcd29;
  margin: 0 10px;
}

.scroll-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 1rem;
  font-size: 16px;
  z-index: 1000;
  background-color: #ffcd29;
  border: none;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
